body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(202, 201, 201);
}

a {
    text-decoration: none;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li {
    float: left;
    padding-top: 20px;
    padding-left: 20px;
}

.login-register {
    float: right;
    padding-top: 5px;
}

.content-images {
    float: left;
    width: 70%;
    height: 800px;
    background-image: url('../../../assets/images/img.jpg');
    z-index: -1;
    color: red;
}


/* Right column */

.content {
    float: left;
    width: 30%;
    height: 800px;
    background-color: white;
    margin: auto;
}

.content-login {
    height: 500px;
    background-color: rgb(255, 255, 255);
    text-align: left;
    margin: auto;
    width: 70%;
    margin-top: 100px;
    padding-top: 100px;
    padding: 30px;
}

.top {
    background-color: rgb(202, 201, 201);
    color: black;
    border: none;
    padding: 16px 32px;
}

.bottom {
    border-radius: 8px;
    background-color: rgb(202, 201, 201);
    color: black;
    border: none;
    padding: 16px 32px;
    width: 40%;
}

.button-registernow {
    color: rgb(248, 248, 248);
    background-color: rgb(224, 19, 19);
    border: none;
    padding: 20px 32px;
    max-width: 220px;
    margin-top: 80px;
    font-size: 20px;
    text-shadow: -1px 0 rgb(247, 247, 247), 0 1px rgb(255, 255, 255), 1px 0 rgb(248, 248, 248), 0 -1px rgb(255, 255, 255);
}

.login {
    float: left;
}

.register {
    float: right;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
}

input[type=text],
input[type=password] {
    width: 70%;
    padding: 12px 40px;
    margin: 8px 0;
    border: 2px solid rgb(95, 105, 163);
    text-align: start;
}

.form-login a[href="#1"] {
    color: black;
}

.input-icons i {
    position: absolute;
    padding: 15px;
    font-size: 24px;
}

ul img {
    max-width: 4%;
    max-height: 100%;
    position: absolute;
    margin-left: 45%;
    padding: 5px;
}

#content-img {
    color: rgb(248, 248, 248);
    background-color: #000000;
    width: 50%;
    height: 50%;
    text-align: center;
    margin: auto;
    padding: 10px;
    margin-top: 15%;
}

#img-top {
    position: absolute;
    right: 1%;
    border-radius: 60px;
    background-color: #5a5a5a;
    padding: 5px;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 900px) {
    .content {
        width: 100%;
        padding: 0;
        height: auto;
        background-color: white;
        padding-right: 2%;
        text-align: center;
    }
    .content-images {
        width: 100%;
        height: 700px;
        background-image: url('../../../assets/images/img.jpg');
    }
    li {
        float: none;
        text-align: center;
    }
    .login-register {
        float: none;
        text-align: center;
    }
    #content-img {
        color: rgb(248, 248, 248);
        background-color: #000000;
        width: 50%;
        height: 75%;
        text-align: center;
        margin: auto;
        padding: 10px;
        margin-top: 10%;
    }
    input[type=text],
    input[type=password] {
        width: 80%;
        padding: 12px 40px;
        margin: 8px 0;
        border: 2px solid rgb(95, 105, 163);
        text-align: start;
    }
}